<footer class="footer-container typefooter-{{typefooter ? typefooter : '1'}}">
	
	{% if footer_7 %} 
		{{ footer_7 }}
	{% endif %}

	{#======	FOOTER BOTTOM	=======#} 
	<div class="footer-bottom ">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 copyright">
					{% if soconfig.get_settings('copyright') is empty %}
						{{ powered }}
					{% else %}
						{{ soconfig.decode_entities(soconfig.get_settings('copyright'))|replace({'{year}': "now"|date("Y")}) }}
					{% endif %}

				</div>

				{% if soconfig.get_settings('imgpayment_status')%} 
				<div class="col-sm-12 payment">
					<img class="lazyload" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="image/{{  soconfig.get_settings('imgpayment') }}"  alt="imgpayment">
				</div>
				{% endif %} 

			</div>
		</div>
	</div>
	{{ footer_bottom }}
</footer>