{{ header }}{{ column_left }}
<div id="content">
  	<div class="page-header">
    	<div class="container-fluid">
	      	<div class="pull-right">
				<button type="submit" form="form-featured" data-toggle="tooltip" title="{{ objlang.get('entry_button_save') }} " class="btn btn-primary"><i class="fa fa-save"></i> {{ objlang.get('entry_button_save')}}</button>
				<a class="btn btn-success" onclick="$('#action').val('save_edit');$('#form-featured').submit();" data-toggle="tooltip" title="{{ objlang.get('entry_button_save_and_edit') }} " ><i class="fa fa-pencil-square-o"></i> {{ objlang.get('entry_button_save_and_edit')}}</a>
				<a class="btn btn-info" onclick="$('#action').val('save_new');$('#form-featured').submit();" data-toggle="tooltip" title="{{ objlang.get('entry_button_save_and_new') }} " ><i class="fa fa-book"></i>  {{ objlang.get('entry_button_save_and_new')}}</a>
				<a href="{{ cancel}} " data-toggle="tooltip" title="{{ objlang.get('entry_button_cancel') }} " class="btn btn-danger"><i class="fa fa-reply"></i>  {{ objlang.get('entry_button_cancel')}}</a>
			</div>
		      <h1>{{ heading_title_so }}</h1>
		      <ul class="breadcrumb">
		        {% for breadcrumb in breadcrumbs %}
		        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
		        {% endfor %}
		      </ul>
    	</div>
  	</div>
  <div class="container-fluid">

    {% if error.warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error.warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

    {% if success %}
  
		<div class="alert alert-success"><i class="fa fa-check-circle"></i>  {{ success }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		<div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_layout }}  
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
	{% endif %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ subheading }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-featured" class="form-horizontal">
			{#//Nav tabs #}
			<div class="row">
				<div class="col-xs-12">
					<ul class="nav nav-tabs" role="tablist">
						<li {% if selectedid  == 0  %} class="active" {% endif %} > <a href="{{ link }} "> <span class="fa fa-plus"></span> {{ objlang.get('button_add_module') }}</a></li>
						{% set i = 1%}
						{% for key, module in moduletabs %}  
							<li role="presentation" {% if module.module_id == selectedid  %} class="active"{% endif %} >
							<a href="{{ link }}&module_id={{ module.module_id}}" aria-controls="bannermodule-{{ key }} "  >
								<span class="fa fa-pencil"></span> {{ module.name}}
							</a>
							</li>
							{% set i = i + 1 %}  
						{% endfor %}
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					{% set module_row = 1 %}
					{% for key, module in modules %}  	
						{% if selectedid %} 
						<div class="pull-right">
							<a href="{{ action }}&delete=1" class="remove btn btn-danger" ><span><i class="fa fa-remove"></i> {{ objlang.get('entry_button_delete') }}</span></a>
						</div>
						{% endif %} 

						<div  id="tab-module{{module_row}}" class="col-sm-12">
							<div class="form-group"> 
								{# Module Name #}
								<input type="hidden" name="action" id="action" value=""/>
								<label class="col-sm-3 control-label" for="input-name"> <b style="font-weight:bold; color:#f00">*</b> <span data-toggle="tooltip" title="{{ objlang.get('entry_name_desc') }} ">{{ objlang.get('entry_name') }}  </span></label>
								<div class="col-sm-9">
									<div class="col-sm-5">
										<input type="text" name="name" value="{{ module.name }}" placeholder="{{ objlang.get('entry_name') }} " id="input-name" class="form-control" />
									</div>
									{% if error.name %} 
									<div class="text-danger col-sm-12">{{ error.name }} </div>
									{% endif %}
								</div>
							</div>
							<div class="form-group">
								{# Header title #}
								<label class="col-sm-3 control-label" for="input-head_name"><b style="font-weight:bold; color:#f00">*</b> <span data-toggle="tooltip" title="{{ objlang.get('entry_head_name_desc') }} ">{{ objlang.get('entry_head_name') }}  </span></label>
								<div class="col-sm-9">
									<div class="col-sm-5">
										{% set i=0 %}											
										{% for language in languages %} 
											{% set i = i + 1 %}		
											
											<input type="text" name="module_description[{{ language.language_id }}][head_name]" placeholder="{{ objlang.get('entry_head_name') }}" id="input-head-name-{{ language.language_id}}" value="{{ module_description[language.language_id].head_name ? module_description[language.language_id].head_name : '' }}"  class="form-control {{ i > 1 ? 'hide ' : 'first-name '}}" />
											
										{% endfor %}
										 
									</div>
									<div class="col-sm-3">
										<select  class="form-control" id="language">
											{% for language in languages %} 
											<option value="{{ language.language_id }}">
												{{ language.name }} 
											</option>
											{% endfor %} 
										</select>
									</div>
									{% if error.head_name %} 
									<div class="text-danger col-sm-12">{{ error.head_name }} </div>
									{% endif %}
								</div>
							</div>
							<div class="form-group">
								{# Display header title #}
								<label class="col-sm-3 control-label" for="input-disp_title_module"> <span data-toggle="tooltip" title="{{ objlang.get('entry_display_title_module_desc') }} ">{{ objlang.get('entry_display_title_module') }}  </span></label>
								<div class="col-sm-9">
									<div class="col-sm-5">
										<select name="disp_title_module" id="input-disp_title_module" class="form-control">
											{% if module.disp_title_module %} 
												<option value="1" selected="selected">{{ objlang.get('text_yes') }} </option>
												<option value="0">{{ objlang.get('text_no') }} </option>
											{% else %}   
												<option value="1">{{ objlang.get('text_yes') }} </option>
												<option value="0" selected="selected">{{ objlang.get('text_no') }} </option>
											 {% endif %}
										</select>
									</div>
								</div>
							</div>
							<div class="form-group"> 
								{# Status #}
								<label class="col-sm-3 control-label" for="input-status"><span data-toggle="tooltip" title="{{ objlang.get('entry_status_desc') }} ">{{ objlang.get('entry_status') }}  </span></label>
								<div class="col-sm-9">
									<div class="col-sm-5">
										<select name="status" id="input-status" class="form-control">
											{% if module.status %} 
												<option value="1" selected="selected">{{ objlang.get('text_enabled') }} </option>
												<option value="0">{{ objlang.get('text_disabled') }} </option>
											{% else %}   
												<option value="1">{{ objlang.get('text_enabled') }} </option>
												<option value="0" selected="selected">{{ objlang.get('text_disabled') }} </option>
											 {% endif %}
										</select>
									</div>
								</div>
							</div>
						</div>
						
						<div class="tab-pane">
							<ul class="nav nav-tabs" id="so_youtech">
								<li>
									<a href="#so_module_module" data-toggle="tab">{{ objlang.get('entry_module' )}}	</a>
								</li>
								<li>
									<a href="#so_module_source_option" data-toggle="tab">
										{{ objlang.get('entry_source_option' )}}
									</a>
								</li>
								<li>
									<a href="#so_module_product_option" data-toggle="tab">
										{{ objlang.get('entry_product_option' )}}	
									</a>
								</li>
								<li>
									<a href="#so_module_image_option" data-toggle="tab">
										{{ objlang.get('entry_image_option' )}}
									</a>
								</li>
								<li>
									<a href="#advanced_option" data-toggle="tab">
										{{ objlang.get('entry_advanced_option' )}}	
									</a>
								</li>
							</ul>
							<div class="tab-content">
							{# // -----------------------------------------------------------------------#}
								<div class="tab-pane" id="so_module_module"> 
									{# General Option #}
									<div class="form-group"> {# Class suffix  #}
										<label class="col-sm-3 control-label" for="input-class_suffix">
											<span data-toggle="tooltip" title="{{ objlang.get('entry_class_suffix_desc') }} ">{{ objlang.get('entry_class_suffix') }}  </span>
										</label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<input type="text" name="class_suffix" value="{{ module.class_suffix }}" id="input-class_suffix" class="form-control" />
											</div>
										</div>
									</div>
									<div class="form-group"> {# Open link  #}
										<label class="col-sm-3 control-label" for="input-open_link">
											<span data-toggle="tooltip" title="{{ objlang.get('entry_open_link_desc') }} ">{{ objlang.get('entry_open_link') }}  </span>
										</label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<select name="item_link_target" id="input-open_link" class="form-control">
													{% for option_id, option_value in item_link_targets %}
														{% set selected = option_id  == module.item_link_target ? 'selected' :'' %}	
														<option value="{{ option_id }}" {{ selected }} >{{ option_value }}</option>
													{% endfor %} 
												</select>
											</div>
										</div>
									</div>
									<div class="form-group"> {# Layout Theme  #}
										<label class="col-sm-3 control-label" for="input-layout_theme">
											<span data-toggle="tooltip" title="{{ objlang.get('entry_layout_theme_desc') }} ">{{ objlang.get('entry_layout_theme') }}  </span>
										</label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<select name="layout_theme" id="input-layout_theme" class="form-control">
													{% for option_id, option_value in layout_themes %}
															{% set selected = option_id  == module.layout_theme ? 'selected' :'' %}	
															<option value="{{ option_id }}" {{ selected }} >{{ option_value }}</option>
													{% endfor %} 
												</select>
											</div>
										</div>
									</div>
									<div class="form-group layout-default"> {# Columns 1  #}
										<label class="col-sm-3 control-label" for="input-column_1200">
											<span data-toggle="tooltip" title="{{ objlang.get('entry_nb_column0_desc') }} ">{{ objlang.get('entry_column') }}  </span>
										</label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<select name="nb_column0" id="input-column_1200" class="form-control">
													{% for option_id, option_value in nb_columns %}
														{% set selected = option_id  == module.nb_column0 ? 'selected' :'' %}	
														<option value="{{ option_id }}" {{ selected }} >{{ option_value }}</option>
													{% endfor %} 
												</select>
											</div>
										</div>
									</div>
									<div class="form-group layout-default"> {# Columns 2  #} 
										<label class="col-sm-3 control-label" for="input-column_992">
											<span data-toggle="tooltip" title="{{ objlang.get('entry_nb_column1_desc') }} ">{{ objlang.get('entry_column') }}  </span>
										</label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<select name="nb_column1" id="input-column_992" class="form-control">
													{% for option_id, option_value in nb_columns %}
														{% set selected = option_id  == module.nb_column1 ? 'selected' :'' %}	
														<option value="{{ option_id }}" {{ selected }} >{{ option_value }}</option>
													{% endfor %} 
												</select>
											</div>
										</div>
									</div>
									<div class="form-group layout-default"> {# Columns 3  #} 
										<label class="col-sm-3 control-label" for="input-column_768_991">
											<span data-toggle="tooltip" title="{{ objlang.get('entry_nb_column2_desc') }} ">{{ objlang.get('entry_column') }}  </span>
										</label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<select name="nb_column2" id="input-column_768_992" class="form-control">
													{% for option_id, option_value in nb_columns %}
														{% set selected = option_id  == module.nb_column2 ? 'selected' :'' %}	
														<option value="{{ option_id }}" {{ selected }} >{{ option_value }}</option>
													{% endfor %} 
												</select>
											</div>
										</div>
									</div>
									<div class="form-group layout-default"> {# Columns 4  #} 
										<label class="col-sm-3 control-label" for="input-column_480_767">
											<span data-toggle="tooltip" title="{{ objlang.get('entry_nb_column3_desc') }} ">{{ objlang.get('entry_column') }}  </span>
										</label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<select name="nb_column3" id="input-column_480_767" class="form-control">
													{% for option_id, option_value in nb_columns %} 
														{% set selected = option_id  == module.nb_column3 ? 'selected' :'' %}	
														<option value="{{ option_id }}" {{ selected }} >{{ option_value }}</option>
													{% endfor %} 
												</select>
											</div>
										</div>
									</div>
									<div class="form-group layout-default"> {# Columns 5  #}
										<label class="col-sm-3 control-label" for="input-column_0_479">
											<span data-toggle="tooltip" title="{{ objlang.get('entry_nb_column4_desc') }} ">{{ objlang.get('entry_column') }}  </span>
										</label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<select name="nb_column4" id="input-column_0_479" class="form-control">
													{% for option_id, option_value in nb_columns %}
														{% set selected = option_id  == module.nb_column4 ? 'selected' :'' %}	
														<option value="{{ option_id }}" {{ selected }} >{{ option_value }}</option>
													{% endfor %} 
												</select>
											</div>
										</div>
									</div>
								</div>
							{# // -----------------------------------------------------------------------#}
								<div class="tab-pane" id="so_module_source_option"> 
								{# Source Option #}
									<div class="form-group">{# Category #}
										<label class="col-sm-3 control-label" for="input-category">
											<b style="font-weight:bold; color:#f00">*</b> <span data-toggle="tooltip" title="{{ entry_category_desc }}">{{ entry_category }}</span>
										</label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<input type="text" name="category" value="" placeholder="{{ entry_category }}" id="input-category" class="form-control" />
												<div id="featured-category" class="well well-sm" style="height: 150px; overflow: auto;">
													{% for category in module.categorys %}
														<div id="featured-category{{ category.category_id }}"><i class="fa fa-minus-circle"></i> {{ category.name }}
														<input type="hidden" name="category[]" value="{{ category.category_id }}" />
														</div>
													{% endfor %} 
												</div>
											</div>								
											{% if error.category %} 
											<div class="text-danger col-sm-12">{{ error.category }} </div>
											{% endif %}
										</div>
									</div>
									<div class="form-group"> {# Child Category  #}
										<label class="col-sm-3 control-label" for="input-child_category">
											<b style="font-weight:bold; color:#f00">*</b> <span data-toggle="tooltip" title="{{ objlang.get('entry_child_category_desc') }} ">{{ objlang.get('entry_child_category') }} </span>
										</label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<label class="radio-inline">
													{% if module.child_category %} 
														<input type="radio" name="child_category" value="1" checked="checked" />
														{{ objlang.get('entry_include') }} 
													{% else %}   
														<input type="radio" name="child_category" value="1" />
														{{ objlang.get('entry_include') }} 
													{% endif %} 
												</label>
												<label class="radio-inline">
													{% if not module.child_category %} 
														<input type="radio" name="child_category" value="0" checked="checked" />
														{{ objlang.get('entry_exclude') }} 
													{% else %}   
														<input type="radio" name="child_category" value="0" />
														{{ objlang.get('entry_exclude') }} 
													 {% endif %} 
												</label>
											</div>
										</div>
									</div>
									<div class="form-group" id="input-category_depth_form"> {# Category depth  #}
										<label class="col-sm-3 control-label" for="input-category_depth"> <b style="font-weight:bold; color:#f00">*</b> <span data-toggle="tooltip" title="{{ objlang.get('entry_category_depth_desc') }} ">{{ objlang.get('entry_category_depth') }} </span></label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<input type="text" name="category_depth" value="{{ module.category_depth }}" id="input-category_depth" class="form-control" />
											</div>
											{% if error.category_depth %} 
												<div class="text-danger col-sm-12">{{ error.category_depth }} </div>
											{% endif %}
										</div>
									</div>
									<div class="form-group"> {# Product Order  #}
										<label class="col-sm-3 control-label" for="input-product_order"> <span data-toggle="tooltip" title="{{ objlang.get('entry_product_order_desc') }} ">{{ objlang.get('entry_product_order') }} </span></label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<select name="product_sort" id="input-product_order" class="form-control">
													{% for option_id, option_value in product_sorts %}
													{% set selected =  (option_id  ==  module.product_sort) ? 'selected' : '' %}
													<option value="{{ option_id }}" {{ selected }} >{{ option_value }}</option>
												{% endfor %} 
												</select>
											</div>
										</div>
									</div>
									<div class="form-group"> {# Ordering  #}
										<label class="col-sm-3 control-label" for="input-ordering"> <span data-toggle="tooltip" title="{{ objlang.get('entry_ordering_desc') }} ">{{ objlang.get('entry_ordering') }} </span></label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<select name="product_ordering" id="input-ordering" class="form-control">
													{% for option_id, option_value in product_orderings %}
													{% set selected =  (option_id  ==  module.product_ordering) ? 'selected' : '' %}

													<option value="{{ option_id }}" {{ selected }} >{{ option_value }}</option>
												{% endfor %} 
												</select>
											</div>
										</div>
									</div>
									<div class="form-group"> {# Limitation  #}
										<label class="col-sm-3 control-label" for="input-limitation">
											<b style="font-weight:bold; color:#f00">*</b> <span data-toggle="tooltip" title="{{ objlang.get('entry_limitation_desc') }} ">{{ objlang.get('entry_limitation') }} </span>
										</label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<input type="text" name="limitation" value="{{ module.limitation }}" id="input-limitation" class="form-control" />
											</div>
											{% if error.limitation %} 
											<div class="text-danger col-sm-12">{{ error.limitation }} </div>
											{% endif %}
										</div>
									</div>
								</div>
							{# // -----------------------------------------------------------------------#}
								<div class="tab-pane" id="so_module_product_option"> 
								{# Product Option  #}
									<div class="form-group"> {# Display Title  #}
										<label class="col-sm-3 control-label" for="input-display_title">
											<span data-toggle="tooltip" title="{{ objlang.get('entry_display_title_desc') }} ">{{ objlang.get('entry_display_title') }} </span>
										</label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<label class="radio-inline">
													{% if module.display_title %} 
														<input type="radio" name="display_title" value="1" checked="checked" />
														{{ objlang.get('text_yes') }} 
													{% else %}   
														<input type="radio" name="display_title" value="1" />
														{{ objlang.get('text_yes') }} 
													{% endif %} 
												</label>
												<label class="radio-inline">
													{% if not module.display_title %} 
														<input type="radio" name="display_title" value="0" checked="checked" />
														{{ objlang.get('text_no') }} 
													{% else %}   
														<input type="radio" name="display_title" value="0" />
														{{ objlang.get('text_no') }} 
													{% endif %} 
												</label>
											</div>
										</div>
									</div>
									<div class="form-group"> {# Title Maxlength  #}
										<label class="col-sm-3 control-label" for="input-title_maxlength"> <b style="font-weight:bold; color:#f00">*</b> <span data-toggle="tooltip" title="{{ objlang.get('entry_title_maxlength_desc') }} ">{{ objlang.get('entry_title_maxlength') }} </span></label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<input type="text" name="title_maxlength" value="{{ module.title_maxlength }} " id="input-title_maxlength" class="form-control" />
											</div>
											{% if error.title_maxlength %} 
												<div class="text-danger col-sm-12">{{ error.title_maxlength }} </div>
											{% endif %} 
										</div>
									</div>
									<div class="form-group"> {# Display Description  #}
										<label class="col-sm-3 control-label" for="input-display_description"> <span data-toggle="tooltip" title="{{ objlang.get('entry_display_description_desc') }} ">{{ objlang.get('entry_display_description') }} </span></label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<label class="radio-inline">
													{% if module.display_description %} 
														<input type="radio" name="display_description" value="1" checked="checked" />
														{{ objlang.get('text_yes') }} 
													 {% else %}   
														<input type="radio" name="display_description" value="1" />
														{{ objlang.get('text_yes') }} 
													{% endif %}
												</label>
												<label class="radio-inline">
													{% if not module.display_description %} 
														<input type="radio" name="display_description" value="0" checked="checked" />
														{{ objlang.get('text_no') }} 
													{% else %}   
														<input type="radio" name="display_description" value="0" />
														{{ objlang.get('text_no') }} 
													{% endif %}  
												</label>
											</div>
										</div>
									</div>
									<div class="form-group"> {# Display Maxlength  #}
										<label class="col-sm-3 control-label" for="input-description_maxlength"> <b style="font-weight:bold; color:#f00">*</b> <span data-toggle="tooltip" title="{{ objlang.get('entry_description_maxlength_desc') }} ">{{ objlang.get('entry_description_maxlength') }} </span></label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<input type="text" name="description_maxlength" value="{{ module.description_maxlength }}" id="input-description_maxlength" class="form-control" />
											</div>
											{% if error.description_maxlength %} 
											<div class="text-danger col-sm-12">{{ error.description_maxlength }} </div>
											{% endif %} 
										</div>
									</div>
									<div class="form-group"> {# Display Price  #}
										<label class="col-sm-3 control-label" for="input-display_price"> <span data-toggle="tooltip" title="{{ objlang.get('entry_display_price_desc') }} ">{{ objlang.get('entry_display_price') }} </span></label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<label class="radio-inline">
													{% if module.display_price %} 
														<input type="radio" name="display_price" value="1" checked="checked" />
														{{ objlang.get('text_yes') }} 
													 {% else %}   
														<input type="radio" name="display_price" value="1" />
														{{ objlang.get('text_yes') }} 
													{% endif %} 
												</label>
												<label class="radio-inline">
													{% if not module.display_price %} 
														<input type="radio" name="display_price" value="0" checked="checked" />
														{{ objlang.get('text_no') }} 
													{% else %}   
														<input type="radio" name="display_price" value="0" />
														{{ objlang.get('text_no') }} 
													{% endif %} 
												</label>
											</div>
										</div>
									</div>
									<div class="form-group"> {# Display Add To Cart  #}
										<label class="col-sm-3 control-label" for="input-display_add_to_cart"> <span data-toggle="tooltip" title="{{ objlang.get('entry_display_add_to_cart_desc') }} ">{{ objlang.get('entry_display_add_to_cart') }} </span></label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<label class="radio-inline">
													{% if module.display_add_to_cart %} 
														<input type="radio" name="display_add_to_cart" value="1" checked="checked" />
														{{ objlang.get('text_yes') }} 
													{% else %}   
														<input type="radio" name="display_add_to_cart" value="1" />
														{{ objlang.get('text_yes') }} 
													{% endif %}  
												</label>
												<label class="radio-inline">
													{% if not module.display_add_to_cart %} 
														<input type="radio" name="display_add_to_cart" value="0" checked="checked" />
														{{ objlang.get('text_no') }} 
													{% else %}   
														<input type="radio" name="display_add_to_cart" value="0" />
														{{ objlang.get('text_no') }} 
													{% endif %} 
												</label>
											</div>
										</div>
									</div>
									<div class="form-group"> {# Display Wishlist  #}
										<label class="col-sm-3 control-label" for="input-display_wishlist"> <span data-toggle="tooltip" title="{{ objlang.get('entry_display_wishlist_desc') }} ">{{ objlang.get('entry_display_wishlist') }} </span></label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<label class="radio-inline">
													{% if module.display_wishlist %} 
														<input type="radio" name="display_wishlist" value="1" checked="checked" />
														{{ objlang.get('text_yes') }} 
													{% else %}   
														<input type="radio" name="display_wishlist" value="1" />
														{{ objlang.get('text_yes') }} 
													{% endif %}
												</label>
												<label class="radio-inline">
													{% if not module.display_wishlist %} 
														<input type="radio" name="display_wishlist" value="0" checked="checked" />
														{{ objlang.get('text_no') }} 
													{% else %}   
														<input type="radio" name="display_wishlist" value="0" />
														{{ objlang.get('text_no') }} 
													{% endif %}  
												</label>
											</div>
										</div>
									</div>
									<div class="form-group"> {# Display Compare  #}
										<label class="col-sm-3 control-label" for="input-display_compare"> <span data-toggle="tooltip" title="{{ objlang.get('entry_display_compare_desc') }} ">{{ objlang.get('entry_display_compare') }} </span></label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<label class="radio-inline">
													{% if module.display_compare %} 
														<input type="radio" name="display_compare" value="1" checked="checked" />
														{{ objlang.get('text_yes') }} 
													{% else %}   
														<input type="radio" name="display_compare" value="1" />
														{{ objlang.get('text_yes') }} 
													 {% endif %}
												</label>
												<label class="radio-inline">
													{% if not module.display_compare %} 
														<input type="radio" name="display_compare" value="0" checked="checked" />
														{{ objlang.get('text_no') }} 
													{% else %}   
														<input type="radio" name="display_compare" value="0" />
														{{ objlang.get('text_no') }} 
													{% endif %} 
												</label>
											</div>
										</div>
									</div>
									<div class="form-group"> {# Display Rating  #}
										<label class="col-sm-3 control-label" for="input-display_rating"> <span data-toggle="tooltip" title="{{ objlang.get('entry_display_rating_desc') }} ">{{ objlang.get('entry_display_rating') }} </span></label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<label class="radio-inline">
													{% if module.display_rating %} 
														<input type="radio" name="display_rating" value="1" checked="checked" />
														{{ objlang.get('text_yes') }} 
													{% else %}   
														<input type="radio" name="display_rating" value="1" />
														{{ objlang.get('text_yes') }} 
													{% endif %} 
												</label>
												<label class="radio-inline">
													{% if not module.display_rating %} 
														<input type="radio" name="display_rating" value="0" checked="checked" />
														{{ objlang.get('text_no') }} 
													{% else %}   
														<input type="radio" name="display_rating" value="0" />
														{{ objlang.get('text_no') }} 
													{% endif %}
												</label>
											</div>
										</div>
									</div>
									<div class="form-group"> {# Display Sale  #}
										<label class="col-sm-3 control-label" for="input-display_sale"> <span data-toggle="tooltip" title="{{ objlang.get('entry_display_sale_desc') }} ">{{ objlang.get('entry_display_sale') }} </span></label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<label class="radio-inline">
													{% if module.display_sale %} 
														<input type="radio" name="display_sale" value="1" checked="checked" />
														{{ objlang.get('text_yes') }} 
													{% else %}   
														<input type="radio" name="display_sale" value="1" />
														{{ objlang.get('text_yes') }} 
													{% endif %} 
												</label>
												<label class="radio-inline">
													{% if not module.display_sale %} 
														<input type="radio" name="display_sale" value="0" checked="checked" />
														{{ objlang.get('text_no') }} 
													{% else %}   
														<input type="radio" name="display_sale" value="0" />
														{{ objlang.get('text_no') }} 
													{% endif %} 
												</label>
											</div>
										</div>
									</div>
									<div class="form-group"> {# Display New  #}
										<label class="col-sm-3 control-label" for="input-display_new"> <span data-toggle="tooltip" title="{{ objlang.get('entry_display_new_desc') }} ">{{ objlang.get('entry_display_new') }} </span></label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<label class="radio-inline">
													{% if module.display_new %} 
														<input type="radio" name="display_new" value="1" checked="checked" />
														{{ objlang.get('text_yes') }} 
													{% else %}  
														<input type="radio" name="display_new" value="1" />
														{{ objlang.get('text_yes') }} 
													{% endif %} 
													
												</label>
												<label class="radio-inline">
													{% if not module.display_new %} 
														<input type="radio" name="display_new" value="0" checked="checked" />
														{{ objlang.get('text_no') }} 
													{% else %}   
														<input type="radio" name="display_new" value="0" />
														{{ objlang.get('text_no') }} 
													 {% endif %} 
												</label>
											</div>
										</div>
									</div>
									<div class="form-group" id="input-date_day_form"> {# New Date Day  #}
										<label class="col-sm-3 control-label" for="input-date_day"> <b style="font-weight:bold; color:#f00">*</b> <span data-toggle="tooltip" title="{{ objlang.get('entry_date_day_desc') }} ">{{ objlang.get('entry_date_day') }} </span></label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<input type="text" name="date_day" value="{{ module.date_day }}" id="input-date_day" class="form-control" />
											</div>
											{% if error.date_day %} 
											<div class="text-danger col-sm-12">{{ error.date_day }} </div>
											{% endif %}
										</div>
									</div>
									<div class="form-group"> {# Number Product Image  #}
										<label class="col-sm-3 control-label" for="input-product_image_num"> <span data-toggle="tooltip" title="{{ objlang.get('entry_product_image_num_desc') }} ">{{ objlang.get('entry_product_image_num') }}  </span></label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<select name="product_image_num" id="input-product_image_num" class="form-control">
													{% for option_id, option_value in product_image_nums %}
													{% set selected = (option_id  ==  module.product_image_num )? 'selected' : '' %}
													<option value="{{ option_id }}" {{ selected }} >{{ option_value }}</option>
												{% endfor %}
												</select>
											</div>
										</div>
									</div>
								
								</div>
							{# // -----------------------------------------------------------------------#}
								<div class="tab-pane" id="so_module_image_option">  {# Image Option #}
									<div class="form-group"> {# Product Image #}
										<label class="col-sm-3 control-label" for="input-product_image">
											<span data-toggle="tooltip" title="{{ objlang.get('entry_product_image_desc') }} ">{{ objlang.get('entry_product_image') }} </span>
										</label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<label class="radio-inline">
													{% if module.product_image %} 
														<input type="radio" name="product_image" value="1" checked="checked" />
														{{ objlang.get('text_yes') }} 
													{% else %}   
														<input type="radio" name="product_image" value="1" />
														{{ objlang.get('text_yes') }} 
													{% endif %} 
												</label>
												<label class="radio-inline">
													{% if not module.product_image %} 
														<input type="radio" name="product_image" value="0" checked="checked" />
														{{ objlang.get('text_no') }} 
													{% else %}   
														<input type="radio" name="product_image" value="0" />
														{{ objlang.get('text_no') }} 
													{% endif %}  
												</label>
											</div>
										</div>
									</div>
									<div class="form-group"> {# Product Get Image From Tab Data #}
										<label class="col-sm-3 control-label" for="input-product_get_image_data">
											<span data-toggle="tooltip" title="{{ objlang.get('entry_product_get_image_data_desc') }} ">{{ objlang.get('entry_product_get_image_data') }} </span>
										</label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<label class="radio-inline">
													{% if module.product_get_image_data %} 
														<input type="radio" name="product_get_image_data" value="1" checked="checked" />
														{{ objlang.get('text_yes') }} 
													{% else %}   
														<input type="radio" name="product_get_image_data" value="1" />
														{{ objlang.get('text_yes') }} 
													{% endif %} 
												</label>
												<label class="radio-inline">
													{% if not module.product_get_image_data %} 
														<input type="radio" name="product_get_image_data" value="0" checked="checked" />
														{{ objlang.get('text_no') }} 
													{% else %}   
														<input type="radio" name="product_get_image_data" value="0" />
														{{ objlang.get('text_no') }} 
													{% endif %}  
												</label>
											</div>
										</div>
									</div>
									<div class="form-group"> {# Product Get Image From Tab Image  #}
										<label class="col-sm-3 control-label" for="input-product_get_image_image">
											<span data-toggle="tooltip" title="{{ objlang.get('entry_product_get_image_image_desc') }} ">{{ objlang.get('entry_product_get_image_image') }} </span>
										</label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<label class="radio-inline">
													{% if module.product_get_image_image %} 
														<input type="radio" name="product_get_image_image" value="1" checked="checked" />
														{{ objlang.get('text_yes') }} 
													{% else %}   
														<input type="radio" name="product_get_image_image" value="1" />
														{{ objlang.get('text_yes') }} 
													{% endif %}  
												</label>
												<label class="radio-inline">
													{% if not module.product_get_image_image %} 
														<input type="radio" name="product_get_image_image" value="0" checked="checked" />
														{{ objlang.get('text_no') }} 
													{% else %}   
														<input type="radio" name="product_get_image_image" value="0" />
														{{ objlang.get('text_no') }} 
													{% endif %}  
												</label>
											</div>
										</div>
									</div>
									<div class="form-group"> {# Image width #}
										<label class="col-sm-3 control-label" for="input-width">
											<b style="font-weight:bold; color:#f00">*</b> <span data-toggle="tooltip" title="{{ objlang.get('entry_width_desc') }} ">{{ objlang.get('entry_width') }} </span>
										</label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<input type="text" name="width" value="{{ module.width }}" id="input-width" class="form-control" />
											</div>
											{% if error.width %} 
											<div class="text-danger col-sm-12">{{ error.width }} </div>
											{% endif %}
										</div>
									</div>
									<div class="form-group"> {# Image height #}
										<label class="col-sm-3 control-label" for="input-height">
											<b style="font-weight:bold; color:#f00">*</b> <span data-toggle="tooltip" title="{{ objlang.get('entry_height_desc') }} ">{{ objlang.get('entry_height') }} </span>
										</label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<input type="text" name="height" value="{{ module.height }}" id="input-height" class="form-control" />
											</div>
											{% if error.height %} 
											<div class="text-danger col-sm-12">{{ error.height }} </div>
											{% endif %} 
										</div>
									</div>
									<div class="form-group"> {# Placeholder Path #}
										<label class="col-sm-3 control-label" for="input-product_placeholder_path">
											<b style="font-weight:bold; color:#f00">*</b> <span data-toggle="tooltip" title="{{ objlang.get('entry_product_placeholder_path_desc') }} ">{{ objlang.get('entry_product_placeholder_path') }} </span>
										</label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<input type="text" name="product_placeholder_path" value="{{ module.product_placeholder_path }}" id="input-product_placeholder_path" class="form-control" />
											</div>
											{% if error.product_placeholder_path %} 
											<div class="text-danger col-sm-12">{{ error.product_placeholder_path }} </div>
											{% endif %} 
										</div>
									</div>
								</div>
							{# // -----------------------------------------------------------------------#}
								<div class="tab-pane" id="advanced_option"> {# Advanced Option #}
									<div class="form-group"> {# Pre-text #}
										<label class="col-sm-3 control-label" for="input-pre_text"> <span data-toggle="tooltip" title="{{ objlang.get('entry_pre_text_desc') }} ">{{ objlang.get('entry_pre_text') }} </span></label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<textarea name="pre_text" id="input-pre_text" class="form-control">{{ module.pre_text }} </textarea>
											</div>
										</div>
									</div>
									<div class="form-group"> {# Post-text #}
										<label class="col-sm-3 control-label" for="input-post_text"> <span data-toggle="tooltip" title="{{ objlang.get('entry_post_text_desc') }} ">{{ objlang.get('entry_post_text') }} </span></label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<textarea name="post_text" id="input-post_text" class="form-control">{{ module.post_text }} </textarea>
											</div>
										</div>
									</div>
									<div class="form-group"> {# Use Cache #}
										<label class="col-sm-3 control-label" for="input-use_cache">
											<span data-toggle="tooltip" title="{{ objlang.get('entry_use_cache_desc') }} ">{{ objlang.get('entry_use_cache') }} </span>
										</label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<label class="radio-inline">
													{% if module.use_cache %} 
														<input type="radio" name="use_cache" value="1" checked="checked" />
														{{ objlang.get('text_yes') }} 
													{% else %}   
														<input type="radio" name="use_cache" value="1" />
														{{ objlang.get('text_yes') }} 
													{% endif %} 
												</label>
												<label class="radio-inline">
													{% if not module.use_cache %} 
														<input type="radio" name="use_cache" value="0" checked="checked" />
														{{ objlang.get('text_no') }} 
													{% else %}   
														<input type="radio" name="use_cache" value="0" />
														{{ objlang.get('text_no') }} 
													{% endif %}   
												</label>
											</div>
										</div>
									</div>
									<div class="form-group" id="input-cache_time_form"> {# Cache Time #}
										<label class="col-sm-3 control-label" for="input-cache_time">
											<span data-toggle="tooltip" title="{{ objlang.get('entry_cache_time_desc') }} ">{{ objlang.get('entry_cache_time') }} </span>
										</label>
										<div class="col-sm-9">
											<div class="col-sm-5">
												<input type="text" name="cache_time" value="{{ module.cache_time }}" id="input-cache_time" class="form-control" />
											</div>
											{% if error.cache_time %} 
											<div class="text-danger col-sm-12">{{ error.cache_time }} </div>
											{% endif %}
										</div>
									</div>
								</div>
							{# // -----------------------------------------------------------------------#}
							</div>
						</div>

						{% set module_row = module_row + 1 %}
					{% endfor %}
				</div>
			</div>

			
		  
        </form>		
      </div>
    </div>
  </div>
 
  
  <script type="text/javascript"><!--
	$('input[name=\'category\']').autocomplete({
		source: function(request, response) {
			$.ajax({
				url: 'index.php?route=extension/module/so_basic_products/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
				dataType: 'json',
				success: function(json) {
					
					response($.map(json, function(item) {
						return {
							label: item['name'],
							value: item['category_id']
						}
					}));
				}
			});
		},
		select: function(item) {
			$('input[name=\'category\']').val('');
			$('#featured-category' + item.value).remove();
			$('#featured-category').append('<div id="featured-category' + item.value + '"><i class="fa fa-minus-circle"></i> ' + item.label + '<input type="hidden" name="category[]" value="' + item.value + '" /></div>');	
		}
	});
	
	$('#featured-category').delegate('.fa-minus-circle', 'click', function() {
		$(this).parent().remove();
	});
	//--></script>
	<script type="text/javascript"><!--
	$('#so_youtech a:first').tab('show');
	if($("input[name='child_category']:radio:checked").val() == '0'){
		$('#input-category_depth_form').hide();
	}else{
		$('#input-category_depth_form').show();
	}

	$("input[name='child_category']").change(function(){
		val = $(this).val();
		if(val ==0){
			$('#input-category_depth_form').hide();
		}else{
			$('#input-category_depth_form').show();
		}
	});
	/* layout theme*/
	if($("select[name='layout_theme']").val() == 'default'){
		$('.layout-default').show();
	}else{
		$('.layout-default').hide();
	}

	$("select[name='layout_theme']").change(function(){
		val = $(this).val();
		if(val == 'default'){
			$('.layout-default').show();
		}else{
			$('.layout-default').hide();
		}
	});
	
	if($("input[name='use_cache']:radio:checked").val() == '0'){
		$('#input-cache_time_form').hide();
	}else{
		$('#input-cache_time_form').show();
	}
	$("input[name='use_cache']").change(function(){
		val = $(this).val();
		if(val ==0){
			$('#input-cache_time_form').hide();
		}else{
			$('#input-cache_time_form').show();
		}
	});
	
	$('#language').change(function(){
		var that = $(this), opt_select = $('option:selected', that).val() , _input = $('#input-head-name-'+opt_select);
		$('[id^="input-head-name-"]').addClass('hide');
		_input.removeClass('hide');
	});
	$('.first-name').change(function(){
		$('input[name="head_name"]').val($(this).val());
	});
	if($("input[name='display_new']:radio:checked").val() == '0'){
		$('#input-date_day_form').hide();
	}else	{
		$('#input-date_day_form').show();
	}
	$("input[name='display_new']").change(function(){
		val = $(this).val();
		if(val ==0)		{
			$('#input-date_day_form').hide();
		}else		{
			$('#input-date_day_form').show();
		}
	});
//--></script>
	<script type="text/javascript">
	jQuery(document).ready(function ($) {
		var button = '<div class="remove-caching" style="margin-left: 15px"><button type="button" onclick="remove_cache()" title="{{ entry_button_clear_cache }}" class="btn btn-danger"><i class="fa fa-remove"></i> {{ entry_button_clear_cache }}</button></div>';
		var button_min = '<div class="remove-caching" style="margin-left: 7px"><button type="button" onclick="remove_cache()" title="{{ entry_button_clear_cache }}" class="btn btn-danger"><i class="fa fa-remove"></i> </button></div>';
		if($('#column-left').hasClass('active')){
			$('#column-left #stats').after(button);
		}else{
			$('#column-left #stats').after(button_min);
		}
		$('#button-menu').click(function(){
			$('.remove-caching').remove();
			if($(this).parents().find('#column-left').hasClass('active')){
				$('#column-left #stats').after(button);
			}else{
				$('#column-left #stats').after(button_min);
			}
		});
	});
	function remove_cache(){
		var success_remove = '{{success_remove}}';
		$.ajax({
			type: 'POST',
			url: '{{linkremove}}',
			data: {	is_ajax_cache_lite: 1},
			success: function () {
				var html = '<div class="alert alert-success cls-remove-cache"> '+success_remove+' <button type="button" class="close" data-dismiss="alert">&times;</button></div>';
				if(!($('.page-header .container-fluid .alert-success')).hasClass('cls-remove-cache')){
					$('.page-header .container-fluid').append(html);
				}
			},
		});
	}
	</script>
  

</div>
{{ footer }}
