{{ header }}{{ column_left }}
<div id="content">
  	<div class="page-header">
    	<div class="container-fluid">
	      	<div class="pull-right">
				<button type="submit" form="form-featured" data-toggle="tooltip" title="{{ objlang.get('entry_button_save') }} " class="btn btn-primary"><i class="fa fa-save"></i> {{ objlang.get('entry_button_save')}}</button>
				<a class="btn btn-success" onclick="$('#action').val('save_edit');$('#form-featured').submit();" data-toggle="tooltip" title="{{ objlang.get('entry_button_save_and_edit') }} " ><i class="fa fa-pencil-square-o"></i> {{ objlang.get('entry_button_save_and_edit')}}</a>
				<a class="btn btn-info" onclick="$('#action').val('save_new');$('#form-featured').submit();" data-toggle="tooltip" title="{{ objlang.get('entry_button_save_and_new') }} " ><i class="fa fa-book"></i>  {{ objlang.get('entry_button_save_and_new')}}</a>
				<a href="{{ cancel}} " data-toggle="tooltip" title="{{ objlang.get('entry_button_cancel') }} " class="btn btn-danger"><i class="fa fa-reply"></i>  {{ objlang.get('entry_button_cancel')}}</a>
			</div>
		      <h1>{{ heading_title_so }}</h1>
		      <ul class="breadcrumb">
		        {% for breadcrumb in breadcrumbs %}
		        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
		        {% endfor %}
		      </ul>
    	</div>
  	</div>
  	<div class="container-fluid">

    {% if error.warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error.warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

    {% if success %}
		<div class="alert alert-success"><i class="fa fa-check-circle"></i>  {{ success }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		<div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_layout }}  
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
	{% endif %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ subheading }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-featured" class="form-horizontal">
			{#//Nav tabs #}
			<div class="row">
				<div class="col-xs-12">
					<ul class="nav nav-tabs" role="tablist">
						<li {% if selectedid  == 0  %} class="active" {% endif %} > <a href="{{ link }} "> <span class="fa fa-plus"></span> {{ objlang.get('button_add_module') }}</a></li>
						{% set i = 1%}
						{% for key, module in moduletabs %}  
							<li role="presentation" {% if module.module_id == selectedid  %} class="active"{% endif %} >
							<a href="{{ link }}&module_id={{ module.module_id}}" aria-controls="bannermodule-{{ key }} "  >
								<span class="fa fa-pencil"></span> {{ module.name}}
							</a>
							</li>
							{% set i = i + 1 %}  
						{% endfor %}
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					{% set module_row = 1 %}
					{% for key, module in modules %}  	
						{% if selectedid %} 
						<div class="pull-right">
							<a href="{{ action }}&delete=1" class="remove btn btn-danger" ><span><i class="fa fa-remove"></i> {{ objlang.get('entry_button_delete') }}</span></a>
						</div>
						{% endif %} 

						<div  id="tab-module{{module_row}}" class="col-sm-12">
							<div class="form-group"> 
								{# Module Name #}
								<input type="hidden" name="action" id="action" value=""/>
								<label class="col-sm-3 control-label" for="input-name"> <b style="font-weight:bold; color:#f00">*</b> <span data-toggle="tooltip" title="{{ objlang.get('entry_name_desc') }} ">{{ objlang.get('entry_name') }}  </span></label>
								<div class="col-sm-9">
									<div class="col-sm-5">
										<input type="text" name="name" value="{{ module.name }}" placeholder="{{ objlang.get('entry_name') }} " id="input-name" class="form-control" />
									</div>
									{% if error.name %} 
									<div class="text-danger col-sm-12">{{ error.name }} </div>
									{% endif %}
								</div>
							</div>
							<div class="form-group"> 
								{# Status #}
								<label class="col-sm-3 control-label" for="input-status"><span data-toggle="tooltip" title="{{ objlang.get('entry_status_desc') }} ">{{ objlang.get('entry_status') }}  </span></label>
								<div class="col-sm-9">
									<div class="col-sm-5">
										<select name="status" id="input-status" class="form-control">
											{% if module.status %} 
												<option value="1" selected="selected">{{ objlang.get('text_enabled') }} </option>
												<option value="0">{{ objlang.get('text_disabled') }} </option>
											{% else %}   
												<option value="1">{{ objlang.get('text_enabled') }} </option>
												<option value="0" selected="selected">{{ objlang.get('text_disabled') }} </option>
											 {% endif %}
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">
								{# <!--Class suffix -->  #}
								<label class="col-sm-3 control-label" for="input-class_suffix">
									<span data-toggle="tooltip" title="{{ objlang.get('entry_class_suffix_desc') }} ">{{ objlang.get('entry_class_suffix') }}  </span>
								</label>
								<div class="col-sm-9">
									<div class="col-sm-5">
										<input type="text" name="class_suffix" value="{{ module.class_suffix }}" id="input-class_suffix" class="form-control" />
									</div>
								</div>
							</div>
							<div class="form-group"> {# <!-- Store Layout -->  #}
								<label class="col-sm-3 control-label" for="input-store_layout"> <span data-toggle="tooltip" title="{{ objlang.get('entry_store_layout_desc') }} ">{{ objlang.get('entry_store_layout') }}  </span></label>
								<div class="col-sm-9">
									<div class="col-sm-5">
										<select name="store_layout" id="input-store_layout" class="form-control">
											{% for option_id, option_value in store_layouts %}
												{% set selected = (option_id  ==  module.store_layout) ? 'selected'  %}
												<option value="{{ option_id }}" {{ selected }} >{{ option_value }}</option>
											{% endfor %}
											
										</select>
									</div>
								</div>
							</div>
							<div class="form-group"> {# <!--use cache -->  #}
								<label class="col-sm-3 control-label" for="input-use_cache">
									<span data-toggle="tooltip" title="{{ objlang.get('entry_use_cache_desc') }} ">{{ objlang.get('entry_use_cache') }} </span>
								</label>
								<div class="col-sm-9">
									<div class="col-sm-5">
										<label class="radio-inline">
											{% if module.use_cache %} 
												<input type="radio" name="use_cache" value="1" checked="checked" />
												{{ objlang.get('text_yes') }} 
											{% else %}   
												<input type="radio" name="use_cache" value="1" />
												{{ objlang.get('text_yes') }} 
											{% endif %}
										</label>
										<label class="radio-inline">
											{% if not module.use_cache %} 
												<input type="radio" name="use_cache" value="0" checked="checked" />
												{{ objlang.get('text_no') }} 
											{% else %}   
												<input type="radio" name="use_cache" value="0" />
												{{ objlang.get('text_no') }} 
											{% endif %} 
										</label>
									</div>
								</div>
							</div>
							<div class="form-group" id="input-cache_time_form"> {# <!--cache time -->  #} 
								<label class="col-sm-3 control-label" for="input-cache_time">
									<span data-toggle="tooltip" title="{{ objlang.get('entry_cache_time_desc') }} ">{{ objlang.get('entry_cache_time') }} </span>
								</label>
								<div class="col-sm-9">
									<div class="col-sm-5">
										<input type="text" name="cache_time" value="{{ module.cache_time }} " id="input-cache_time" class="form-control" />
									</div>
									{% if error.cache_time %} 
									<div class="text-danger col-sm-12">{{ error.cache_time }} </div>
									{% endif %}
								</div>
							</div>
						</div>
						
						<div class="tab-pane">
							<ul class="nav nav-tabs" id="language">
							  	{% for language in languages %} 
							  	<li>
							  		<a href="#language{{ language.language_id }}" data-toggle="tab">
										<img src="language/{{ language.code}}/{{ language.code}}.png" title="{{ language.name }} " /> {{ language.name }} 
									</a>
								</li>
							    {% endfor %}
							</ul>

							<div class="tab-content">
							  {% for language in languages %}
							  	<div class="tab-pane" id="language{{ language.language_id }}">
									<div class="form-group">
									  	<label class="col-sm-2 control-label" for="input-title{{ language.language_id }} ">{{ objlang.get('entry_title') }} </label>
									  	<div class="col-sm-10">
											<input type="text" name="module_description[{{ language.language_id }}][title]" placeholder="{{ objlang.get('entry_title') }} " id="input-heading{{ language.language_id }}" value="{{ module_description[language.language_id].title  ? module_description[language.language_id].title  : '' }} " class="form-control" />
									  	</div>
									</div>
									<div class="form-group">
									  	<label class="col-sm-2 control-label" for="input-description{{ language.language_id }} ">{{ objlang.get('entry_description') }} </label>
									  	<div class="col-sm-10">
											<textarea name="module_description[{{language.language_id}}][description]" placeholder="{{ objlang.get('entry_description') }} " id="input-description{{ language.language_id }}" data-toggle="summernote" class="form-control">
											{{ module_description[language.language_id]  ? module_description[language.language_id].description }} 
											</textarea>
									  	</div>
									</div>
							  	</div>
							  {% endfor %} 
							</div>
							
						</div>

						{% set module_row = module_row + 1 %}
					{% endfor %}
				</div>
			</div>
        </form>		
      </div>
    </div>
  	</div>
 
  
  	<script type="text/javascript"><!--
		if($("input[name='use_cache']:radio:checked").val() == '0'){
			$('#input-cache_time_form').hide();
		}else{
			$('#input-cache_time_form').show();
		}

		$("input[name='use_cache']").change(function(){
			val = $(this).val();
			if(val ==0)
			{
				$('#input-cache_time_form').hide();
			}else
			{
				$('#input-cache_time_form').show();
			}
		});

		$('#language a:first').tab('show');
	//--></script>

	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			var button = '<div class="remove-caching" style="margin-left: 15px"><button type="button" onclick="remove_cache()" title="{{ entry_button_clear_cache }}" class="btn btn-danger"><i class="fa fa-remove"></i> {{ entry_button_clear_cache }}</button></div>';
			var button_min = '<div class="remove-caching" style="margin-left: 7px"><button type="button" onclick="remove_cache()" title="{{ entry_button_clear_cache }}" class="btn btn-danger"><i class="fa fa-remove"></i> </button></div>';
			if($('#column-left').hasClass('active')){
				$('#column-left #stats').after(button);
			}else{
				$('#column-left #stats').after(button_min);
			}
			$('#button-menu').click(function(){
				$('.remove-caching').remove();
				if($(this).parents().find('#column-left').hasClass('active')){
					$('#column-left #stats').after(button);
				}else{
					$('#column-left #stats').after(button_min);
				}
			});
		});
		function remove_cache(){
			var success_remove = '{{success_remove}}';
			$.ajax({
				type: 'POST',
				url: '{{linkremove}}',
				data: {	is_ajax_cache_lite: 1},
				success: function () {
					var html = '<div class="alert alert-success cls-remove-cache"> '+success_remove+' <button type="button" class="close" data-dismiss="alert">&times;</button></div>';
					if(!($('.page-header .container-fluid .alert-success')).hasClass('cls-remove-cache')){
						$('.page-header .container-fluid').append(html);
					}
				},
			});
		}
	</script>
	<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
	<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
	<link rel="stylesheet"  href="view/javascript/summernote/summernote.css" />
  

</div>
{{ footer }}
