{#=====Get variable : Config Select Block on header=====#}
{% set hidden_headertop = soconfig.get_settings('toppanel_type') =='1' or soconfig.get_settings('toppanel_type') =='2'? 'hidden-compact' : '' %}
{% set hidden_headercenter = soconfig.get_settings('toppanel_type') =='2'? 'hidden-compact' : '' %}
{% set hidden_headerbottom = soconfig.get_settings('toppanel_type') =='1'? 'hidden-compact' : '' %}

<header id="header" class=" variant typeheader-{{ typeheader ? typeheader : '1'}}">

	{#======	HEADER promotion	=======#}  
	{% if soconfig.get_settings('promotion_status') and soconfig.get_settings('promotion') %}
	<div class="header-promotion {{hidden_headertop}}" >
		{{ soconfig.decode_entities( soconfig.get_settings('promotion') ) }}
	</div>
	{% endif %}
	
	{#======	HEADER TOP	=======#}  
	<div class="header-top {{hidden_headertop}}">
		<div class="container">
			<div class="row">
			
				<div class="header-top-left  col-lg-6 col-sm-5 col-md-5 hidden-xs">
					<ul class="list-inlines">
						{% if soconfig.get_settings('welcome_message_status') %}
						<li class="hidden-xs hidden-sm" >
							{% if soconfig.get_settings('welcome_message') is not empty %}
								{{ soconfig.decode_entities( soconfig.get_settings('welcome_message') ) }}
							{% endif %} 	
						
						</li>
						{% endif %} 
					</ul>
				</div>
				
				<div class="header-top-right collapsed-block col-lg-6 col-sm-7 col-xs-12 ">
					<h5 class="tabBlockTitle hidden-lg hidden-sm hidden-md visible-xs">{{ text_more }} <a class="expander " href="#TabBlock-1"><i class="fa fa-angle-down"></i></a></h5>
					<div  class="tabBlock" id="TabBlock-1">
						{% if soconfig.get_settings('phone_status') and soconfig.get_settings('contact_number') %}
						<div class="telephone hidden-xs" >
							{{ soconfig.decode_entities( soconfig.get_settings('contact_number') ) }}
						</div>
						{% endif %} 
						<ul class="top-link list-inline">
							{% if logged %} 
								<li class="log logout"><a class="link-lg" href="{{ logout }} "><i class="fa fa-unlock"></i>{{ text_logout }} </a></li>
							{% else %}   
								<li class="log login"><a class="link-lg" href="{{ login }} "><i class="fa fa-lock"></i>{{ text_login }} </a></li>
							{% endif %}  
							
							<li class="account" id="my_account"><a href="{{ account }}" title="{{ text_account }} " class="btn-xs dropdown-toggle" data-toggle="dropdown"> <span class="hidden-xs">{{ text_account }} </span> <span class="fa fa-angle-down"></span></a>
								<ul class="dropdown-menu ">
									<li><a href="{{ account }} ">{{ text_account }} </a></li>
									<li><a href="{{ order }} ">{{ text_order }} </a></li>
									<li><a href="{{ transaction }} ">{{ text_transaction }} </a></li>
									<li><a href="{{ download }} ">{{ text_download }} </a></li>
									
									{% if soconfig.get_settings('checkout_status') %}
									<li class="checkout"><a href="{{ checkout }} " class="btn-link" title="{{ text_checkout }} "><span >{{ text_checkout }} </span></a></li>
									{% endif %} 
								</ul>
							</li>
							
						</ul>
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
	
	{#======	HEADER CENTER	=======#}  
	<div class="header-center {{hidden_headercenter}}">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 header-middle1">
				{% if soconfig.get_settings('lang_status') %}
					<div class="link language" >{{ language }} </div>
					<div class="link currency" > {{ currency }}  </div>
				{% endif %}
				</div>
				<div class="navbar-logo col-md-6 col-sm-3 col-xs-6">
				    {{soconfig.get_logo()}}

				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 header-middle3">
					<div class="block-cart">
						<div class="shopping_cart">
						 	{{ cart }} 
						</div>

					</div>
					<div class="header_custom_link hidden-xs">
						<ul>
							<li class="wishlist"><a href="{{ wishlist }}" id="wishlist-total" class="top-link-wishlist" title="{{ wishlist }}"></a></li>
						</ul>	
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	{#======	HEADER BOTTOM	=======#}  
	<div class="header-bottom {{hidden_headerbottom}}">
		<div class="container">
			<div class="header-bottom-inner">
				<div class="row">
					<div class="header-bottom-left menu-vertical col-md-12 col-sm-12 col-xs-12">
						<div class="responsive megamenu-style-dev megamenu-dev">
							{{ content_menu }}
						</div>
						<div class="header-search">
							{{ search_block }}
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
</header>