{#
****************************************************** 
 * @package	SO Framework for Opencart 3.x
 * @author	http://www.opencartworks.com
 * @license	GNU General Public License
 * @copyright(C) 2008-2017 opencartworks.com. All rights reserved.
 ******************************************************
#}

{% set full_date 	= special_end_date|split('-') %}
{% set year_end  	= full_date[0]%}
{% set month_end 	= full_date[1]%}
{% set day_end   	= full_date[2]%}

{% if day_end and year_end and month_end %}
	 <div class="countdown_box hidden-xs">
		<div class="countdown_inner">
			 <script type="text/javascript">
			 $(function () {
				var austDay = new Date({{year_end}}, {{month_end}}-1 , {{day_end}});
				$('.defaultCountdown-{{product.product_id}}').countdown(austDay, function(event) {
					var $this = $(this).html(event.strftime(''
					   + '<div class="time-item time-day"><div class="num-time">%D</div><div class="name-time">{{objlang.get('text_labelDay')}} </div></div>'
					   + '<div class="time-item time-hour"><div class="num-time">%H</div><div class="name-time">{{objlang.get('text_labelHour')}}</div></div>'
					   + '<div class="time-item time-min"><div class="num-time">%M</div><div class="name-time">{{objlang.get('text_labelMin')}} </div></div>'
					   + '<div class="time-item time-sec"><div class="num-time">%S</div><div class="name-time">{{objlang.get('text_labelSec')}}</div></div>'));
				});
				
			});
			</script>
			<div class="defaultCountdown-{{product.product_id}}"></div>
		</div>
	</div>
{% endif %}
